<extend name="./Public/Admin/base.html" />

<block name="page_tool">
</block>

<block name="content">
    <div class="panel panel-primary">
        <div class="panel-body panel-body-table">
            <form action="{ :U('Index/alterDo') }" method="post" class="form-horizontal">
                <br>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">用户名</label>
                    <div class="col-md-3 col-xs-12">   
                        <input type="text" name="username" value="{ $userInfo.username }" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">邮箱</label>
                    <div class="col-md-3 col-xs-12">
                        <input type="text" name="email" value="{ $userInfo.email }" placeholder="请输入邮箱" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">昵称</label>
                    <div class="col-md-3 col-xs-12">
                        <input type="text" name="nickname" value="{ $userInfo.nickname }" placeholder="请设置昵称" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label"></label>
                    <div class="col-md-3 col-xs-12">
                        <input type="hidden" name="id" value="{ $userInfo.id }">
                        <input type="submit" value="修改" class="btn btn-primary">
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</block>

<block name="js">
</block>
