<extend name="./Public/Admin/base.html" />

<block name="page_tool">
    <a href="{ :U('Index/add') }" class="btn btn-primary">添加管理员</a>
</block>

<block name="content">
    <div class="panel panel-primary">
        <div class="panel-body panel-body-table">
            <table class="table datatable table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>昵称</th>
                        <th>角色</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="userInfo" id="user">
                    <tr>
                        <td>{ $user.id }</td>
                        <td>{ $user.username }</td>
                        <td>{ $user.email }</td>
                        <td>{ $user.nickname }</td>
                        <td>
                            <foreach name="user.role" item="role">
                                <span class="label label-success">{ $role.name }</span>&nbsp;
                            </foreach>
                        </td>
                        <td>
                            <if condition = "$user['status'] eq 0">正常
                            <elseif condition = "$user['status'] eq 1" /><span class="text-warning">已锁定</span>
                            <else />{ $user.status }
                            </if>
                        </td>
                        <td>{ $user.create_time }</td>
                        <td>
                            <a href="{ :U('Index/alter', ['id' => $user['id']]) }" class="text-info" title="修改"><i class="glyphicon glyphicon-edit"></i></a> 
                            <if condition = "$user['status'] eq 0">
                                <a href="{ :U('Index/lock', ['id' => $user['id'], 'status' => 1]) }" class="text-warning lock" title="锁定"><i class="fa fa-lock"></i></a>
                            <elseif condition="$user['status'] eq 1" />
                                <a href="{ :U('Index/lockDo', ['id' => $user['id'], 'status' => 0]) }" class="text-warning lock" title="解锁"><i class="fa fa-unlock"></i></a>
                            </if>
                            <a href="{ :U('Rbac/userRoleAlter', ['id' => $user['id']]) }" class="text-success" title="分配角色"><i class="fa fa-cog"></i></a>
                        </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </div>
</block>

<block name="js">
    <script>
    $(".del, .lock").click(function(){
        if (!confirm('确认要进行这个操作吗？')) {
            return false;
        }
    });
    </script>
</block>

<block name="page_plugins">
    <script type="text/javascript" src="{ $Think.config.Public }js/plugins/datatables/jquery.dataTables.min.js"></script>    
</block>

